#auth {
  width: 100%;
  padding: 0.5em 4px 0 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
}
#auth .w3-box {
  --height: calc(var(--sm-size-height) * var(--sm-size-factor));
  font-size: var(--height);
  width: 100%;
  height: auto;
  overflow: hidden;
}
#auth .w3-box .inputbox {
  width: 100%;
  padding-bottom: 0.292em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
/***
			&.required
				> label:before
					color: red
					content: '*'
			&.readonly
				> input,
				> select,
				> textarea
					border-top: none
					border-left: none
					border-right: none
					border-radius: 0
					background-color: transparent
					&:focus
						//box-shadow: none
						box-shadow: inset 0 -4px 6px -6px hsl(210, 13%, 60%)
					&::placeholder
						color: transparent
			&.hidden
				display: none
			/***/
}
#auth .w3-box .inputbox > label {
  order: 1;
  display: block;
  font-weight: bold;
  background-color: transparent;
  color: rgba(var(--sm-color-5),1);
  font-family: var(--sm-font-label);
  font-size: 0.292em;
  white-space: nowrap;
}
#auth .w3-box .inputbox > input,
#auth .w3-box .inputbox > select,
#auth .w3-box .inputbox > textarea {
  font-size: 0.417em;
  width: 100%;
  height: var(--height);
  padding: 0.5em;
  order: 2;
  display: block;
  box-sizing: border-box;
  margin: 0;
  border-width: 0;
  border-top: 1px solid rgba(var(--sm-color-4),1);
  box-shadow: inset 0 1px 2px rgba(var(--sm-color-4),1);
  border-radius: 2px;
  background-color: rgba(var(--sm-color-1),0.75);
  color: rgba(var(--sm-color-4),1);
  font-family: var(--sm-font-input);
}
#auth .w3-box .inputbox > input:focus,
#auth .w3-box .inputbox > select:focus,
#auth .w3-box .inputbox > textarea:focus {
  outline: none;
  border-color: rgba(var(--sm-color-6),1);
  box-shadow: inset 0 1px 1px rgba(var(--sm-color-7),1);
  background-color: rgba(var(--sm-color-1),0.95);
  color: rgba(var(--sm-color-0),1);
}
#auth .w3-box .inputbox > input:focus ~ label,
#auth .w3-box .inputbox > select:focus ~ label,
#auth .w3-box .inputbox > textarea:focus ~ label {
  color: rgba(var(--sm-color-7),1);
}
#auth .w3-box .inputbox > input:disabled,
#auth .w3-box .inputbox > select:disabled,
#auth .w3-box .inputbox > textarea:disabled {
  background-color: transparent;
  color: rgba(var(--sm-color-2),1);
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
}
#auth .w3-box .inputbox > input::placeholder,
#auth .w3-box .inputbox > select::placeholder,
#auth .w3-box .inputbox > textarea::placeholder {
  color: rgba(var(--sm-color-5),1);
}
#auth .w3-box .inputbox > textarea {
  height: auto;
}
#auth .w3-box .cmdbox {
  width: 100%;
  height: 1.25em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
/***
			&.ripple-effect > button:enabled
				background-position: center;
				transition: background 0.5s;
				&:hover
					background: hsl(240, 100%, 95%) radial-gradient(circle, transparent 1%, hsl(240, 100%, 95%) 1%) center/15000%;
				&:active
					background-color: hsl(210, 13%, 50%);
					background-size: 100%;
					transition: background 0s;
			/***/
}
#auth .w3-box .cmdbox > button {
  font-size: 0.417em;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border: 2px solid rgba(var(--sm-color-2),1);
  border-radius: 2px;
  background-color: rgba(var(--sm-color-0),1);
  color: rgba(var(--sm-color-1),1);
  font-family: var(--sm-font-label);
  cursor: pointer;
  outline: none;
}
#auth .w3-box .cmdbox > button:hover {
  background-color: rgba(var(--sm-color-0),0.85);
  border-color: rgba(var(--sm-color-0),1);
}
#auth .w3-box .cmdbox > button:focus {
  background-color: rgba(var(--sm-color-0),1);
  border-color: rgba(var(--sm-color-0),1);
  border-width: 1px;
  box-shadow: inset 0 0 0 1px rgba(var(--sm-color-1),1);
}
#auth .w3-box .cmdbox > button:focus:hover {
  background-color: rgba(var(--sm-color-0),0.85);
}
#auth .w3-box .cmdbox > button:active {
  color: rgba(var(--sm-color-7),1);
  box-shadow: inset 0 0 0 1px rgba(var(--sm-color-7),1);
}
#auth .w3-box .cmdbox > button:disabled {
  color: transparent;
  cursor: default;
}
#auth .w3-box .linkbox {
  width: 1em;
  height: 1em;
}
#auth .w3-box .linkbox > a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  cursor: pointer;
  outline: none;
/***
				&:hover
					background-color: rgba(var(--sm-color-0), 0.85)
					border-color: rgba(var(--sm-color-0))
				&:focus
					background-color: rgba(var(--sm-color-0))
					border-color: rgba(var(--sm-color-0))
					border-width: 1px
					box-shadow: inset 0 0 0 1px rgba(var(--sm-color-1))
					&:hover
						background-color: rgba(var(--sm-color-0), 0.85)
				&:active
					color: rgba(var(--sm-color-7))
					box-shadow: inset 0 0 0 1px rgba(var(--sm-color-7))
				&:disabled
					color: transparent
					cursor: default
				/***/
}
#auth .w3-box .linkbox > a > svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: rgba(var(--sm-color-2),1);
}
#auth .w3-box .checkbox {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 8px 0;
}
#auth .w3-box .checkbox > input {
  display: block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
}
#auth .w3-box .checkbox > input:checked ~ label {
  color: #000;
}
#auth .w3-box .checkbox > input:focus {
  outline: none;
}
#auth .w3-box .checkbox > input:focus ~ label {
  color: #33f;
}
#auth .w3-box .checkbox > label {
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
  color: #6f7f90;
  cursor: pointer;
  user-select: none;
  margin: 0;
}
#auth .w3-box .groupbox {
  padding: 6px 0 4px 0;
}
#auth .w3-box .groupbox > .checkbox {
  padding: 0 0 4px 0;
}
#auth .w3-box .groupbar {
  display: flex;
}
#auth .w3-box .groupbar > .inputbox {
  flex: 1 1 0;
  padding-left: 2px;
  padding-right: 2px;
}
#auth .w3-box .groupbar > .inputbox.w2 {
  flex: 2 2 0;
}
#auth .w3-box .groupbar > .inputbox.w3 {
  flex: 3 3 0;
}
#auth .w3-box .groupbar > .inputbox.w4 {
  flex: 4 4 0;
}
#auth .w3-box .groupbar > .inputbox.w5 {
  flex: 5 5 0;
}
#auth .w3-box .groupbar > .inputbox.w6 {
  flex: 6 6 0;
}
#auth .w3-box .groupbar > .inputbox.w7 {
  flex: 7 7 0;
}
#auth .w3-box .groupbar > .inputbox.w8 {
  flex: 8 8 0;
}
#auth .w3-box .groupbar > .inputbox.w9 {
  flex: 9 9 0;
}
#auth .w3-box .groupbar > .inputbox:nth-child(1) {
  padding-left: 0;
}
#auth .w3-box .groupbar > .inputbox:nth-last-child(1) {
  padding-right: 0;
}
#auth > div {
  width: 100%;
  max-width: 600px;
}
#auth > div > .titlebox {
  width: 100%;
  padding: 0 4px 1px 4px;
}
#auth > div > .titlebox > h1 {
  width: 100%;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(var(--sm-color-5),1);
  font-family: var(--sm-font-title);
  font-size: 1.5em;
  text-align: center;
  white-space: nowrap;
  cursor: default;
}
#auth > div > .formbox {
  padding: 0.666em;
  background-color: rgba(var(--sm-color-3),1);
  border: 1px solid rgba(var(--sm-color-2),1);
  border-radius: 1px;
}
#auth > div > .formbox > form {
  width: 100%;
  display: none;
}
#auth > div > .formbox > form > .sep {
  padding: 12px;
  pointer-events: none;
}
#auth > div > .formbox > form > .sep > div {
  position: relative;
  display: flex;
  justify-content: center;
}
#auth > div > .formbox > form > .sep > div > label {
  z-index: 1;
  font-family: var(--sm-font-label);
  font-size: 0.25em;
  background-color: rgba(var(--sm-color-3),1);
  color: rgba(var(--sm-color-0),1);
  white-space: nowrap;
}
#auth > div > .formbox > form > .sep > div > hr {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  margin: 0;
  background-color: rgba(var(--sm-color-2),1);
}
#auth > div > .formbox > form > .pad {
  width: 0;
  height: 0.375em;
  visibility: hidden;
}
#auth.a > div > .formbox > form.login,
#auth.b > div > .formbox > form.login {
  display: block;
}
#auth.v {
  opacity: 1;
}
