#catalog {
  font-size: calc(var(--sm-size-height) * var(--sm-size-factor));
  width: 100%;
  padding: 0 4px 0 4px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
#catalog > .head {
  height: 1em;
  padding: 4px 0 4px 0;
}
#catalog > .head > h3 {
  font-size: 0.95em;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-family: TradeWinds, sans-serif;
  line-height: 1;
  letter-spacing: 1px;
  color: #708090;
  user-select: none;
}
#catalog > .foot {
  padding: 2px 0 2px 0;
}
#catalog > .foot > .box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}
#catalog > .body {
  display: block;
}
#catalog > .body > .ctl {
  font-size: calc(var(--sm-size-height) * var(--sm-size-factor));
  height: calc(1em + 8px);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
#catalog > .body > .ctl > .panel {
  flex: 1 1 0;
  min-width: 1em;
  max-width: 320px;
  background-color: rgba(192,192,192,0.2);
}
#catalog > .body > .ctl > .grid {
  flex: 1 1 auto;
  padding: 0 4px 0 4px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  gap: 4px;
}
#catalog > .body > .ctl > .grid > .orderer {
  flex: 1 3 0;
  max-width: 220px;
}
#catalog > .body > .ctl > .grid > .paginator {
  flex: 3 1 0;
}
#catalog > .body > .sep > hr {
  width: 100%;
  height: 3px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background-color: rgba(192,192,192,0.2);
}
#catalog > .body > .view {
/***
			display: block
			/***/
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
#catalog > .body > .view > .panel {
  flex: 1 1 0;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
#catalog > .body > .view > .panel > .title {
  flex: 0 0 auto;
  height: calc(2em + 16px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
#catalog > .body > .view > .panel > .title > h3 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#catalog > .body > .view > .panel > .content {
  flex: 1 1 auto;
  padding: 2px 0 0 0;
}
#catalog > .body > .view > .products {
  flex: 1 1 0;
}
