/**
* Theme layout and styles
*/
@font-face {
  font-family: 'Kazmann';
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Kazmann Sans.woff2") format('woff2'), url("fonts/Kazmann Sans.woff") format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url("fonts/Montserrat-ExtraBold.woff2") format('woff2'), url("fonts/Montserrat-ExtraBold.woff") format('woff');
}
@font-face {
  font-family: 'Bender';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/Bender-Bold.woff2") format('woff2'), url("fonts/Bender-Bold.woff") format('woff');
}
/***
@font-face
	font-family: 'TradeWinds'
	font-display: fallback
	src: local('Trade Winds'),
	     url('TradeWinds.woff2') format('woff2'),
	     url('TradeWinds.woff') format('woff'),
	     url('TradeWinds.ttf') format('truetype');
/***/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  scroll-behavior: smooth;
}
div,
form,
input,
button,
label,
svg,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: block;
}
body {
  --sm-size-height: 48px;
  --sm-size-factor: 1;
  --sm-color-0: 0,0,0;
  --sm-color-1: 255,255,255;
  --sm-color-2: 192,192,192;
  --sm-color-3: 220,220,220;
  --sm-color-4: 47,79,79;
  --sm-color-5: 112,128,144;
  --sm-color-6: 72,61,139;
  --sm-color-7: 106,90,205;
  --sm-font-title: Kazmann, sans-serif;
  --sm-font-label: Montserrat, sans-serif;
  --sm-font-input: Bender, sans-serif;
  background-color: rgba(var(--sm-color-1),1);
}
body .w3-box {
  --height: calc(var(--sm-size-height) * var(--sm-size-factor));
  font-size: var(--height);
  width: 100%;
  height: auto;
  overflow: hidden;
}
body .w3-box .inputbox {
  width: 100%;
  padding-bottom: 0.292em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
/***
			&.required
				> label:before
					color: red
					content: '*'
			&.readonly
				> input,
				> select,
				> textarea
					border-top: none
					border-left: none
					border-right: none
					border-radius: 0
					background-color: transparent
					&:focus
						//box-shadow: none
						box-shadow: inset 0 -4px 6px -6px hsl(210, 13%, 60%)
					&::placeholder
						color: transparent
			&.hidden
				display: none
			/***/
}
body .w3-box .inputbox > label {
  order: 1;
  display: block;
  font-weight: bold;
  background-color: transparent;
  color: rgba(var(--sm-color-5),1);
  font-family: var(--sm-font-label);
  font-size: 0.292em;
  white-space: nowrap;
}
body .w3-box .inputbox > input,
body .w3-box .inputbox > select,
body .w3-box .inputbox > textarea {
  font-size: 0.417em;
  width: 100%;
  height: var(--height);
  padding: 0.5em;
  order: 2;
  display: block;
  box-sizing: border-box;
  margin: 0;
  border-width: 0;
  border-top: 1px solid rgba(var(--sm-color-4),1);
  box-shadow: inset 0 1px 2px rgba(var(--sm-color-4),1);
  border-radius: 2px;
  background-color: rgba(var(--sm-color-1),0.75);
  color: rgba(var(--sm-color-4),1);
  font-family: var(--sm-font-input);
}
body .w3-box .inputbox > input:focus,
body .w3-box .inputbox > select:focus,
body .w3-box .inputbox > textarea:focus {
  outline: none;
  border-color: rgba(var(--sm-color-6),1);
  box-shadow: inset 0 1px 1px rgba(var(--sm-color-7),1);
  background-color: rgba(var(--sm-color-1),0.95);
  color: rgba(var(--sm-color-0),1);
}
body .w3-box .inputbox > input:focus ~ label,
body .w3-box .inputbox > select:focus ~ label,
body .w3-box .inputbox > textarea:focus ~ label {
  color: rgba(var(--sm-color-7),1);
}
body .w3-box .inputbox > input:disabled,
body .w3-box .inputbox > select:disabled,
body .w3-box .inputbox > textarea:disabled {
  background-color: transparent;
  color: rgba(var(--sm-color-2),1);
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0;
}
body .w3-box .inputbox > input::placeholder,
body .w3-box .inputbox > select::placeholder,
body .w3-box .inputbox > textarea::placeholder {
  color: rgba(var(--sm-color-5),1);
}
body .w3-box .inputbox > textarea {
  height: auto;
}
body .w3-box .cmdbox {
  width: 100%;
  height: 1.25em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
/***
			&.ripple-effect > button:enabled
				background-position: center;
				transition: background 0.5s;
				&:hover
					background: hsl(240, 100%, 95%) radial-gradient(circle, transparent 1%, hsl(240, 100%, 95%) 1%) center/15000%;
				&:active
					background-color: hsl(210, 13%, 50%);
					background-size: 100%;
					transition: background 0s;
			/***/
}
body .w3-box .cmdbox > button {
  font-size: 0.417em;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border: 2px solid rgba(var(--sm-color-2),1);
  border-radius: 2px;
  background-color: rgba(var(--sm-color-0),1);
  color: rgba(var(--sm-color-1),1);
  font-family: var(--sm-font-label);
  cursor: pointer;
  outline: none;
}
body .w3-box .cmdbox > button:hover {
  background-color: rgba(var(--sm-color-0),0.85);
  border-color: rgba(var(--sm-color-0),1);
}
body .w3-box .cmdbox > button:focus {
  background-color: rgba(var(--sm-color-0),1);
  border-color: rgba(var(--sm-color-0),1);
  border-width: 1px;
  box-shadow: inset 0 0 0 1px rgba(var(--sm-color-1),1);
}
body .w3-box .cmdbox > button:focus:hover {
  background-color: rgba(var(--sm-color-0),0.85);
}
body .w3-box .cmdbox > button:active {
  color: rgba(var(--sm-color-7),1);
  box-shadow: inset 0 0 0 1px rgba(var(--sm-color-7),1);
}
body .w3-box .cmdbox > button:disabled {
  color: transparent;
  cursor: default;
}
body .w3-box .linkbox {
  width: 1em;
  height: 1em;
}
body .w3-box .linkbox > a {
  width: 100%;
  height: 100%;
  display: block;
  background-color: transparent;
  cursor: pointer;
  outline: none;
/***
				&:hover
					background-color: rgba(var(--sm-color-0), 0.85)
					border-color: rgba(var(--sm-color-0))
				&:focus
					background-color: rgba(var(--sm-color-0))
					border-color: rgba(var(--sm-color-0))
					border-width: 1px
					box-shadow: inset 0 0 0 1px rgba(var(--sm-color-1))
					&:hover
						background-color: rgba(var(--sm-color-0), 0.85)
				&:active
					color: rgba(var(--sm-color-7))
					box-shadow: inset 0 0 0 1px rgba(var(--sm-color-7))
				&:disabled
					color: transparent
					cursor: default
				/***/
}
body .w3-box .linkbox > a > svg {
  width: 100%;
  height: 100%;
  display: block;
  fill: rgba(var(--sm-color-2),1);
}
body .w3-box .checkbox {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 8px 0;
}
body .w3-box .checkbox > input {
  display: block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
}
body .w3-box .checkbox > input:checked ~ label {
  color: #000;
}
body .w3-box .checkbox > input:focus {
  outline: none;
}
body .w3-box .checkbox > input:focus ~ label {
  color: #33f;
}
body .w3-box .checkbox > label {
  font-size: 16px;
  font-weight: bold;
  padding-left: 8px;
  color: #6f7f90;
  cursor: pointer;
  user-select: none;
  margin: 0;
}
body .w3-box .groupbox {
  padding: 6px 0 4px 0;
}
body .w3-box .groupbox > .checkbox {
  padding: 0 0 4px 0;
}
body .w3-box .groupbar {
  display: flex;
}
body .w3-box .groupbar > .inputbox {
  flex: 1 1 0;
  padding-left: 2px;
  padding-right: 2px;
}
body .w3-box .groupbar > .inputbox.w2 {
  flex: 2 2 0;
}
body .w3-box .groupbar > .inputbox.w3 {
  flex: 3 3 0;
}
body .w3-box .groupbar > .inputbox.w4 {
  flex: 4 4 0;
}
body .w3-box .groupbar > .inputbox.w5 {
  flex: 5 5 0;
}
body .w3-box .groupbar > .inputbox.w6 {
  flex: 6 6 0;
}
body .w3-box .groupbar > .inputbox.w7 {
  flex: 7 7 0;
}
body .w3-box .groupbar > .inputbox.w8 {
  flex: 8 8 0;
}
body .w3-box .groupbar > .inputbox.w9 {
  flex: 9 9 0;
}
body .w3-box .groupbar > .inputbox:nth-child(1) {
  padding-left: 0;
}
body .w3-box .groupbar > .inputbox:nth-last-child(1) {
  padding-right: 0;
}
body .sm-menu {
  height: 100%;
}
body .sm-menu > .menu {
  flex: 1 1 auto;
  display: flex;
  list-style: none;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}
body .sm-menu > .menu a {
  display: flex;
  text-decoration: none;
  white-space: nowrap;
}
body .sm-menu > .menu > li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 12px;
}
body .sm-menu > .menu > li > a {
  flex: 1 1 100%;
  padding: 0 4px;
  color: #000;
}
body .sm-menu > .menu > li > a > div {
  display: flex;
  align-items: center;
  font-family: 'RistrettoPro';
  font-size: 1.6em;
  padding: 0;
}
body .sm-menu > .menu > li > a > svg {
  width: 0;
  height: auto;
}
body .sm-menu > .menu > li > a::after {
  display: none;
}
body .sm-menu > .menu > li.current-menu-item > a > div,
body .sm-menu > .menu > li.current-menu-ancestor > a > div {
  font-size: 2em;
  font-weight: bold;
}
body .sm-menu > .menu > li.menu-item-has-children > a > svg {
  width: 20px;
}
body .sm-menu > .menu > li > hr {
  visibility: hidden;
  margin: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(var(--sm-color-6),1);
}
body .sm-menu > .menu > li.current-menu-item > hr,
body .sm-menu > .menu > li.current-menu-ancestor > hr {
  visibility: visible;
}
body .sm-menu > .menu > li > .dropdown {
  position: absolute;
  left: -8px;
  top: calc(100% + 2px);
  width: 380px;
  padding: 8px 10px;
  background-color: ;
  border-radius: 4px;
  border: 1px solid rgba(var(--sm-color-6),1);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
body .sm-menu > .menu > li > .dropdown > a {
  display: flex;
  align-items: center;
  padding: 0 0 0 8px;
  background-color: transparent;
  border-radius: 2px;
  height: 2.4em;
}
body .sm-menu > .menu > li > .dropdown > a > svg {
  padding: 0;
  height: 18px;
}
body .sm-menu > .menu > li > .dropdown > a > div {
  font-family: 'RistrettoPro';
  font-size: 1.6em;
  padding: 0;
  color: #000;
}
body .sm-menu > .menu > li > .dropdown > a:hover,
body .sm-menu > .menu > li > .dropdown > a.hovered {
  background-color: rgba(var(--sm-color-6),0.125);
}
body .sm-menu > .menu > li > .dropdown > a:hover > div,
body .sm-menu > .menu > li > .dropdown > a.hovered > div {
  color: rgba(var(--sm-color-6),1);
  font-size: 1.7em;
}
body .sm-menu > .menu > li > .dropdown > a.current-menu-item > div {
  letter-spacing: 0.05em;
  font-weight: bold;
  color: rgba(var(--sm-color-6),1);
}
body .sm-menu > .menu > li > .dropdown > h3 {
  font-family: 'RistrettoPro';
  font-size: 1.7em;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0 0 0 8px;
}
body .sm-minicart {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  padding-left: 8px;
}
body .sm-minicart > a {
  display: flex;
  align-items: center;
}
body .sm-minicart > a > div {
  position: relative;
  padding: 8px;
  cursor: pointer;
}
body .sm-minicart > a > div > svg {
  height: 40px;
  fill: #000;
}
body .sm-minicart > a > div > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
}
body .sm-minicart > a > div > div > span {
  display: block;
  background-color: rgba(var(--sm-color-6),1);
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
body .sm-minicart > a > div > div > span.hidden {
  visibility: hidden;
}
body .sm-minicart > a > span {
  color: #000;
  font-weight: bold;
}
body .sm-minicart.is-current > a {
  cursor: default;
}
body .sm-minicart.is-current > a > div > svg {
  fill: rgba(var(--sm-color-6),1);
}
body .sm-minicart.is-current > a > div > div {
  visibility: hidden;
}
body .sm-minicart.is-current > a > span {
  display: none;
}
body > .head {
  padding: 0 8px 0 8px;
  display: block;
}
body > .head > div {
  width: 100%;
  display: flex;
  flex-direction: row;
}
body > .head > .a > .linkbox {
  flex: 0 0 0;
  min-width: 2.25em;
  min-height: 2.25em;
  padding: 0.25em;
}
body > .head > .a > .searchbox {
  flex: 1 1 0;
  padding-top: 0.35em;
  overflow: hidden;
}
body > .head > .a > .searchbox > form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 2px;
}
body > .head > .a > .searchbox > form > .inputbox {
  position: relative;
  height: 1em;
  padding: 0;
}
body > .head > .a > .searchbox > form > .inputbox > svg {
  width: 1em;
  height: 1em;
  padding: 0.2em;
  position: absolute;
  top: 0;
  left: 0;
  fill: rgba(var(--sm-color-3),1);
}
body > .head > .a > .searchbox > form > .inputbox > input {
  padding-left: var(--height);
}
body > .head > .a > .searchbox > form > .inputbox > input:focus::placeholder {
  color: transparent;
}
body > .head > .a > .searchbox > form > button {
  font-size: var(--height);
  width: 1em;
  height: 100%;
  padding: 0.2em;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: transparent;
}
body > .head > .a > .searchbox > form > button > svg {
  width: 100%;
  height: 100%;
  fill: rgba(var(--sm-color-3),1);
}
body > .head > .a > .searchbox > form > button.v {
  display: block;
}
body > .head > .a > .searchbox > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2%;
}
body > .head > .a > .searchbox > div > .linkbox {
  width: 0.8em;
  height: 0.8em;
  padding: 0.1em;
}
body > .head > .b {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
body > .head > .c {
  width: 100%;
  height: 8px;
  background-color: rgba(var(--sm-color-3),1);
}
