@font-face {
  font-family: 'Kazmann';
  font-weight: 400;
  font-style: normal;
  src: url("fonts/KazmannSans.woff2") format('woff2'), url("fonts/KazmannSans.woff") format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url("fonts/Montserrat-ExtraBold.woff2") format('woff2'), url("fonts/Montserrat-ExtraBold.woff") format('woff');
}
@font-face {
  font-family: 'Bender';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/Bender-Bold.woff2") format('woff2'), url("fonts/Bender-Bold.woff") format('woff');
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
div,
form,
input,
button,
label,
svg,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  display: block;
}
body {
  --sm-size-height: 48px;
  --sm-size-factor: 1;
  --sm-color-0: 0,0,0;
  --sm-color-1: 255,255,255;
  --sm-color-2: 192,192,192;
  --sm-color-3: 220,220,220;
  --sm-color-4: 47,79,79;
  --sm-color-5: 112,128,144;
  --sm-color-6: 72,61,139;
  --sm-color-7: 106,90,205;
  --sm-font-title: Kazmann, sans-serif;
  --sm-font-label: Montserrat, sans-serif;
  --sm-font-input: Bender, sans-serif;
/***
	display: flex
	flex-direction: column
	align-items: stretch
	justify-content: flex-start
	/***/
  background-color: rgba(var(--sm-color-1),1);
}
body > .head {
  font-size: calc(var(--sm-size-height) * var(--sm-size-factor));
  flex: 0 0 auto;
  padding: 4px 4px 0 4px;
  background-color: rgba(var(--sm-color-3),0.2);
  display: block;
  overflow: visible;
}
body > .head > div {
  width: 100%;
  height: calc(1em + 20px);
  padding: 10px 24px;
  display: flex;
  flex-direction: row;
  background-color: rgba(var(--sm-color-3),0.4);
  gap: 8px;
}
body > .head > div > div {
  height: auto;
  display: flex;
  flex-direction: row;
}
body > .head > div > div .linkbox {
  width: auto;
  height: 100%;
  padding-right: 16px;
}
body > .head > div > div .linkbox svg {
  width: auto;
  height: 100%;
  fill: rgba(var(--sm-color-5),1);
}
body > .head > div > div .linkbox:hover svg {
  fill: rgba(var(--sm-color-0),1);
}
body > .head > div > .a {
  flex: 0 0 auto;
}
body > .head > div > .b {
  flex: 1 1 0;
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
body > .head > div > .b > .inputbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}
body > .head > div > .b > .inputbox > input {
  font-size: 0.4em;
  width: 100%;
  height: 100%;
  padding: 0.4em 0.2em 0.4em 0.4em;
  border: 1px solid rgba(var(--sm-color-5),1);
  border-radius: 4px;
  font-family: var(--sm-font-input);
  background-color: rgba(var(--sm-color-1),0.4);
  color: rgba(var(--sm-color-0),1);
  outline: none;
}
body > .head > div > .b > .inputbox > input:placeholder {
  color: rgba(var(--sm-color-4),1);
}
body > .head > div > .b > .inputbox > input:focus::placeholder {
  color: transparent;
}
body > .head > div > .b > .inputbox > input:focus {
  border: 3px solid rgba(var(--sm-color-5),1);
}
body > .head > div > .b > .inputbox > button {
  font-size: var(--height);
  width: 1.1em;
  height: calc(100% - 4px);
  padding: 0.1em 0.2em 0.1em 0.3em;
  border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgba(var(--sm-color-5),1);
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}
body > .head > div > .b > .inputbox > button > svg {
  width: auto;
  height: 100%;
  fill: rgba(var(--sm-color-1),1);
}
body > .head > div > .b > .inputbox > button.o {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
body > .head > div > .b > .inputbox > button.x {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
body > .head > div > .c {
  flex: 0 0 auto;
}
body > .sm-blocks.menu {
  flex: 1 1 auto;
  --root-size: 0.75em;
  padding: 8px 24px;
  background-color: rgba(var(--sm-color-3),0.2);
}
body > .sm-blocks.menu .label {
  font-family: Montserrat;
  font-size: 0.5em;
}
body > .sep {
  flex: 0 0 0;
  height: 4px;
  background-color: rgba(var(--sm-color-3),1);
  border: 0;
  border-radius: 4px;
}
body > .body {
  padding: 32px 24px 16px 24px;
  box-sizing: border-box;
}
body > .body > div {
  width: 100%;
}
#search > .list > .product {
  display: flex;
  flex-direction: row;
  height: 52px;
  padding: 4px;
  cursor: pointer;
}
#search > .list > .product > .a {
  flex: 0 0 0;
  min-width: 48px;
}
#search > .list > .product > .a > img {
  width: 100%;
  height: 100%;
}
#search > .list > .product > .b {
  flex: 1 1 0;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
  font-family: var(--sm-font-label);
}
#search > .list > .product > .c {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-family: var(--sm-font-input);
}
#search > .list > .product:hover {
  background-color: rgba(var(--sm-color-3),1);
}
#search > nav > div > ul {
  padding: 16px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  gap: 2px;
}
#search > nav > div > ul > li {
  flex: 0 0 auto;
  min-width: 48px;
  height: 48px;
  padding: 0 8px 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(var(--sm-color-3),1);
  border: 1px solid rgba(var(--sm-color-4),1);
  border-radius: 4px;
  font-family: var(--sm-font-input);
}
#search > nav > div > ul > li > span,
#search > nav > div > ul > li > a {
  font-size: 24px;
  box-sizing: border-box;
  text-decoration: none;
}
#search.x {
  pointer-events: none;
}
#search.x > .list > .product {
  opacity: 0.25;
}
#search.x > .list > .product.x {
  opacity: 1;
  background-color: rgba(var(--sm-color-3),1);
}
#search.x > nav {
  opacity: 0.25;
}
#product > div {
  color: #2f4f4f;
}
